---
title:  Portland, Oregon's user group for Cloud Technology Professionals and Enthusiasts
bodyclass: front-page
---

- current_meeting = blog.articles.detect {|a| !a.data.archive }
.resources
  .inner
    %h4 Where to Find Us
    %p
      We meet the second Wednesday of every month. To learn more, check out 
      the following links:
    %p
      = link_to "Google Group/Mailing List", "https://groups.google.com/forum/?fromgroups#!forum/pdxcloud"
    %p
      = link_to "Meetup", "http://www.meetup.com/PDXCloud"
    %p
      = link_to "GitHub/PDXCloud", "https://github.com/pdxcloud"
    %p
      = link_to "Calagator", "http://calagator.org/events/search?query=pdxcloud"

.meetings
  .inner
    %h3
      Next Meeting is
      = current_meeting.title
    .meeting_description
      = blog.articles.detect {|a| !a.data.archive }.body

.past_events
  .inner
    %h5 RSVP / Add to Calendar
    %ul
      - if current_meeting.data.calagator
        %li= link_to "Calagator", current_meeting.data.calagator
      - else
        %li
          %em (coming soon)
      - if current_meeting.data.meetup
        %li= link_to "Meetup", current_meeting.data.meetup
      - if current_meeting.data.plancast
        %li= link_to "Plancast", current_meeting.data.plancast
  .inner
    = partial "past_events"
