%h3 Sponsors, Contributors, and Friends

%p
  PDXCloud is made possible by the contributions of the following awesome
  companies and their employees:

%ul#sponsor_list
  - {'elemental' => '', 'cloudability' => '', 'opscode' => '', 'joyent' => '', 'glider' => '/careers' }.each do |company, landing|
    %li= link_to image_tag("logos/#{company}.png"), "http://#{company}.com#{landing}"
  %li= link_to image_tag("logos/factor.png"), "http://factor.io"

%p
  You can bet that most of these fine folks are hiring. As tech community
  supporters, they deserve your consideration!
